*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


body{
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:0.3s;
}

nav a:hover{
    color:#00f2ff;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
}

.hero input{
    margin-top:20px;
    padding:12px 20px;
    width:300px;
    border-radius:25px;
    border:none;
}



.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
    padding:60px;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:0.3s;
}
@media (max-width: 576px) {
    h1{
        text-align: center;
    }
    .cards{
        display: grid;
        justify-items: center;
    }
   h2{
        text-align: center;
    }
 
}
@media(min-width: 768px){
   .new h1,h2{
        text-align: left;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width: 992px){
    .new h1,h2{
        text-align: left;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}

.card:hover{
    transform:translateY(-10px);
}
.card img{
    width:60px;
    margin-bottom:15px;
}

.card a{
    display:inline-block;
    margin-top:15px;
    padding:8px 20px;
    background:#00f2ff;
    color:black;
    border-radius:20px;
    text-decoration:none;
}
html{
    scroll-behavior: smooth;
}

.contact{
    padding:80px 20px;
    text-align:center;
    background:rgba(255,255,255,0.02);
}

.contact h2{
    font-size:32px;
    margin-bottom:10px;
}

.contact p{
    color:#ccc;
    margin-bottom:20px;
}

.contact form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact input,
.contact textarea{
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

.contact textarea{
    height:120px;
    resize:none;
}

.contact button{
    padding:12px;
    border:none;
    border-radius:25px;
    background:#00f2ff;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.contact button:hover{
    background:#00f2ff;
}

.success{
    margin-top:15px;
    color:#00f2ff;
    font-weight:bold;
}

.about{
    padding:80px 60px;
    background:rgba(255,255,255,0.03);
}

.about-container{
    display:flex;
    gap:50px;
    flex-wrap:wrap;
}

.about-text{
    flex:1;
    min-width:300px;
}

.about-text h2{
    font-size:32px;
    margin-bottom:20px;
}

.about-text p{
    margin-bottom:15px;
    line-height:1.6;
    color:#ccc;

}

